%section#contact
  .container
    .row
      .col-lg-12.text-center
        %h2 Contact Me
        %hr.star-primary/
    .row
      .col-lg-8.col-lg-offset-2
        / To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.
        / The form should work on most web servers, but if the form is not working you may need to configure your web server differently.
        = simple_form_for Contact.new, { action: contacts_path, method: 'post', id: 'contactForm'} do |f|
          .floating-label-form-group
            = f.input :name, label: '', input_html: { id: 'name', "data-validation-required-message": "Please enter your name.", placeholder: "Name", required: ""  }
          .floating-label-form-group
            = f.input :phone, label: '', input_html: { id: 'phone', "data-validation-required-message": "Please enter your phone number.", placeholder: "Phone Number", required: ""  }
          .floating-label-form-group
            = f.input :email, label: '', input_html: { id: 'email', "data-validation-required-message": "Please enter your email.", placeholder: "Email Address", required: "" }
          .floating-label-form-group
            = f.input :message, label: '', input_html: { "data-validation-required-message": "Please enter your message.", placeholder: "Message", required: "", rows: 5 }
          %br
          = f.button :submit, 'Send', class: 'btn btn-success btn-lg'
