%section#contact
  .container
    .row
      .col-lg-12.text-center
        %h2 Contact Me
        %hr.star-primary/
    .row
      .col-lg-8.col-lg-offset-2
        = simple_form_for Contact.new, { action: contacts_path, method: 'post', id: 'contactForm', novalidate: 'novalidate', name: 'sentMessage'} do |f|
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              = f.input :name, label: 'Name', input_html: { id: 'name', "data-validation-required-message": "Please enter your name.", placeholder: "Name", required: "required"  }
              %p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              = f.input :email, label: 'Email Address', input_html: { id: 'email', "data-validation-required-message": "Please enter your email.", placeholder: "Email Address", required: "required" }
              %p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              = f.input :phone, label: 'Phone Number', input_html: { id: 'phone', "data-validation-required-message": "Please enter your phone number.", placeholder: "Phone Number", required: "required"  }
              %p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              = f.input :message, label: 'Message', input_html: { id: 'message', "data-validation-required-message": "Please enter your message.", placeholder: "Message", required: "required", rows: 5 }
              %p.help-block.text-danger
          %br
          .succes
          .row
            .form-group.col-xs-12
              = f.button :submit, 'Send', class: 'btn btn-success btn-lg', id: 'sendMessageButton'
