= render 'navigation'
/ Header
=render 'header'

/ Portfolio Grid Section
= render 'portfolio'

/ About Section
= render 'about'
/ Contact Section
= render 'contact'
/ Footer
= render 'footer'

/ Portfolio Modals
= render 'portfolio_modals'
